$colors: (
	common: (
		white: #fff,
		black: #000,
		blue: #2785ff,
		heading: #0b3d2c,
		text: #777777,
		border: #0b3d2c,
		placeholder: #777777,
	),
	theme: (
		1: #0b3d2c,
		2: #2a7d2e,
		3: #f8f5f0,
	),
	bg: (
		gray: #f3f4f6,
		black: #000,
		footer: #f6f6f6,
	),
);
