/*----------------------------------------
    17. footer CSS
----------------------------------------*/
@use "../abstract" as *;

footer {
	overflow: hidden;
}
.footer-area {
	background: var(--clr-theme-1);
	position: relative;
	z-index: 2;
	overflow-x: clip;
	overflow-y: clip;
}
.footer-bg-shape {
	position: absolute;
	bottom: -25px;
	z-index: -1;
}
.footer-widget-title {
	h4 {
		font-size: 20px;
		font-weight: 700;
		text-transform: uppercase;
		color: var(--clr-common-white);
		margin-bottom: 35px;
		position: relative;
		padding-bottom: 18px;
		&:after {
			position: absolute;
			content: "";
			width: 30px;
			height: 2px;
			background: #2a7d2e;
			bottom: 0;
			left: 0;
		}
	}
}
.footer-widget {
	ul {
		li {
			margin-bottom: 23px;
			@media #{$lg,$md,$sm,$xxs}{
				margin-bottom: 13px;
			}
			&:last-child {
				margin-bottom: 0;
			}
			a {
				font-weight: 700;
				color: var(--clr-common-white);
				text-transform: uppercase;
				font-size: 16px;
				@media #{$xl} {
					font-size: 15px;
				}
				@media #{$lg,$md,$sm,$xxs} {
					font-size: 14px;
				}
				&:hover {
					color: var(--clr-theme-2);
				}
			}
			
		}
	}
	p {
		color: #8ea89f;
	}
}

.single-contact {
	.contact-icon {
		font-size: 16px;
		color: #4d7869;
		width: 35px;
		min-width: 35px;
	}
	display: flex;
	gap: 0;
	p {
		margin-bottom: 0;
		a:hover {
			color: var(--clr-theme-2);
		}
	}
}
.footer-contact {
	ul {
		li {
			margin-bottom: 10px;
			padding-bottom: 13px;
			border-bottom: 1px solid #164837;
			&:last-child {
				padding-bottom: 0;
				margin-bottom: 0;
				border-bottom: 0;
			}
		}
	}
}

.footer-social {
	span {
		font-weight: 700;
		color: var(--clr-common-white);
		text-transform: uppercase;
		@media #{$lg,$md,$sm,$xxs} {
			font-size: 14px;
		}
	}
	display: flex;
	gap: 20px;
	margin-top: 30px;
}
.social-links {
	ul {
		display: flex;
		gap: 16px;
		li {
			a {
				color: #689082;
				&:hover {
					color: var(--clr-theme-2);
				}
			}
			margin-bottom: 0;
		}
	}
}
.support-meta {
	.irc-item-icon {
		width: 60px;
		height: 60px;
		background: var(--clr-theme-2);
		color: var(--clr-common-white);
		font-size: 30px;
		text-align: center;
		line-height: 60px;
		border-radius: 50%;
	}
	display: flex;
	gap: 20px;
	align-items: center;
	.support-number {
		font-size: 20px;
		color: var(--clr-common-white);
		font-weight: 700;
		a:hover {
			color: var(--clr-theme-2);
		}
	}
	.irc-item-content {
		p {
			margin-bottom: 0;
		}
	}
}

.footer-widget {
	overflow: hidden;
}
.footer1-widget1 {
	margin-right: -30px;
	@media #{$lg} {
		margin-left: 0;
		margin-right: -20px;
	}
	@media #{$md,$sm,$xs} {
		margin-left: 0;
		margin-right: 0;
	}
}
.footer1-widget2 {
	ul {
		width: 50%;
		float: left;
	}
	margin-left: 80px;
	margin-right: -30px;
	@media #{$xl} {
		margin-left: 55px;
	}
	@media #{$lg} {
		margin-left: 20px;
		margin-right: -20px;
	}
	@media #{$md,$sm,$xs} {
		margin-left: 0;
		margin-right: 0;
	}
}
.footer1-widget3 {
	margin-left: 70px;
	@media #{$lg} {
		margin-left: 40px;
		margin-right: -40px;
	}
	@media #{$md,$sm,$xs} {
		margin-left: 0;
		margin-right: 0;
	}
}
.copyright1-area {
	background: #083626;
	padding: 20px 0;
}
.copyright1-text {
	font-weight: 700;
	color: #a0b8b0;
	text-transform: uppercase;
	text-align: center;
	@media #{$sm,$xs} {
		margin: 15px 0;
	}
	@media #{$lg,$md,$sm,$xxs} {
		font-size: 14px;
	}
	a {
		color: var(--clr-common-white);
		&:hover {
			color: var(--clr-theme-2);
		}
	}
}

.go-top {
	width: 60px;
	height: 60px;
	text-align: center;
	display: inline-block;
	background: var(--clr-theme-2);
	line-height: 60px;
	font-size: 20px;
	color: var(--clr-common-white);
	border-radius: 50%;
	&:hover {
		background: var(--clr-common-white);
		color: var(--clr-theme-1);
	}
}
.go-top-btn {
	display: flex;
	justify-content: flex-end;
	@media #{$sm,$xs} {
		justify-content: center;
	}
}
.footer-logo {
	@media #{$sm,$xs} {
		text-align: center;
	}
}

// footer2 style
.footer-area2 {
	overflow-y: visible;
}
.footer-area2-bg {
	background: #0f3d2d;
}
.footer2-widget1 ul {
	width: 50%;
	float: left;
}
.footer2-widget1 {
	margin-right: 55px;
	@media #{$xl} {
		margin-right: 30px;
	}
	@media #{$lg} {
		margin-right: 0px;
	}
	@media #{$md,$sm,$xs} {
		margin-right: 0;
	}
}
.footer2-widget2 {
	margin-right: 50px;
	@media #{$lg} {
		margin-right: 10px;
		margin-left: 10px;
	}
	@media #{$md,$sm,$xs} {
		margin-right: 0;
	}
}
.footer2-widget3 {
	margin-left: -50px;
	margin-right: 80px;
	@media #{$lg} {
		margin-left: -10px;
		margin-right: 30px;
	}
	@media #{$md,$sm,$xs} {
		margin-left: 0;
		margin-right: 0;
	}
}
.footer2-widget4 {
	margin-left: -30px;
	@media #{$lg} {
		margin-left: -30px;
	}
	@media #{$md,$sm,$xs} {
		margin-left: 0;
	}
}
.instagam-shots {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	max-width: 400px;
	& a {
		border-radius: 7px;
		overflow: hidden;
		width: calc((100% - 30px) / 3);
		img {
			width: 100%;
		}
	}
}
.copyright2-area {
	background: #0f3d2d;
}
.copyright2-inner {
	border-top: 1px solid #1b4e3c;
	padding: 24px 0;
	.footer-links {
	display: flex;
	gap: 50px;
	@media #{$sm,$xs} {
		justify-content: center;
	}
	a {
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
		color: var(--clr-common-white);
		@media #{$lg,$md,$sm,$xxs} {
			font-size: 14px;
		}
		&:hover {
			color: var(--clr-theme-2);
		}
	}
}
}

.copyright2-text {
	font-weight: 700;
	color: #a0b8b0;
	text-transform: uppercase;
	text-align: right;
	@media #{$sm,$xs} {
		margin-top: 15px;
		text-align: center;
	}
	@media #{$lg,$md,$sm,$xxs} {
		font-size: 14px;
	}
	a {
		color: var(--clr-common-white);
		&:hover {
			color: var(--clr-theme-2);
		}
	}
}
.banner-plant-shape {
	position: relative;
	&:before {
		position: absolute;
		content: url("../../img/shape/plant-shape-big.png");
		top: 50%;
		left: 0;
		z-index: -1;
		transform: translate(-30%, -50%);
		filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(226deg)
			brightness(107%) contrast(101%);
		opacity: 0.3;
	}
	&:after {
		position: absolute;
		content: url("../../img/shape/plant-shape-big.png");
		top: 50%;
		right: 0;
		z-index: -1;
		transform: translate(30%, -50%) rotateY(180deg);
		filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(226deg)
			brightness(107%) contrast(101%);
		opacity: 0.3;
	}
}

// footer-top-area style-3 style
.style-3 {
	&.footer-top-area {
		background: var(--clr-theme-1);
		padding: 25px 0;
	}
	.footer-top-social {
		display: flex;
		justify-content: flex-end;
		@media #{$sm,$xs} {
			justify-content: center;
		}
	}
	.social-links {
		ul {
			li {
				a {
					width: 60px;
					height: 60px;
					text-align: center;
					line-height: 58px;
					color: var(--clr-common-white);
					font-size: 18px;
					display: inline-block;
					background: #164a38;
					border-radius: 50%;
					&:hover {
						color: #164a38;
						background: var(--clr-common-white);
					}
				}
			}
			display: flex;
			gap: 10px;
		}
	}
	.footer-logo {
		@media #{$sm,$xs} {
			margin-bottom: 20px;
		}
	}
}
.footer-area3 {
	overflow-y: visible;
}
.footer-area3-bg {
	background: var(--clr-theme-3);
}
.copyright3-area {
	background: var(--clr-theme-3);
}
.copyright3-inner {
	border-top: 0;
	padding: 27px 30px;
	background: var(--clr-common-white);
	border-radius: 10px 11px 0 0;
	@media #{$xxs} {
		padding: 27px 20px;
	}
}
.footer-links {
	display: flex;
	gap: 50px;
	@media #{$sm,$xs} {
		justify-content: center;
	}
	a {
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
		color: var(--clr-theme-1);
		@media #{$lg,$md,$sm,$xxs} {
			font-size: 14px;
		}
		&:hover {
			color: var(--clr-theme-2);
		}
	}
}
.copyright3-text {
	font-weight: 700;
	color: var(--clr-theme-1);
	text-transform: uppercase;
	text-align: right;
	@media #{$sm,$xs} {
		margin-top: 5px;
		text-align: center;
	}
	@media #{$lg,$md,$sm,$xxs} {
		font-size: 14px;
	}
	a {
		color: var(--clr-theme-1);
		&:hover {
			color: var(--clr-theme-2);
		}
	}
}
.footer3-widget {
	.footer-widget-title h4 {
		color: var(--clr-theme-1);
	}
	&.footer-widget ul li a {
		font-weight: 700;
		color: var(--clr-theme-1);
		text-transform: uppercase;
		font-size: 16px;
		@media #{$lg,$md,$sm,$xxs} {
			font-size: 14px;
		}
	}
}
.footer3-widget1 ul {
	width: 50%;
	float: left;
}
.footer3-inner {
	&.footer-plant-shape::before {
		content: url("../../img/shape/plant-shape-big-gray.png");
		bottom: -142.5px;
	}
	&.footer-plant-shape::after {
		content: url("../../img/shape/plant-shape-big-gray-rotated.png");
		bottom: -142.5px;
	}
}
.footer-blog {
	display: flex;
	flex-direction: column;
	gap: 16px;
	.blog-thumb {
		width: 80px;
		height: 80px;
		border-radius: 7px;
		overflow: hidden;
		min-width: 80px;
		@media #{$lg} {
			width: 60px;
			height: 70px;
			min-width: 60px;
		}
	}
	.blog-meta-text {
		font-size: 14px;
		font-weight: 700;
		color: var(--clr-theme-2);
		text-transform: uppercase;
		display: block;
		line-height: 1;
		margin-bottom: 8px;
	}
	.blog-title {
		font-size: 18px;
		text-transform: uppercase;
		line-height: 26px;
		margin-bottom: 0;
		@media #{$lg,$md,$sm,$xxs} {
			font-size: 14px;
		}
	}
	.blog-single {
		display: flex;
		gap: 20px;
		align-items: center;
	}
}
.footer3-widget1 {
	margin-right: 40px;
	@media #{$lg} {
		margin-right: 0px;
	}
	@media #{$md,$sm,$xs} {
		margin-right: 0;
	}
}
.footer3-widget2 {
	margin-right: 80px;
	margin-left: 0px;
	@media #{$lg} {
		margin-right: 40px;
		margin-left: -10px;
	}
	@media #{$md,$sm,$xs} {
		margin-left: 0;
		margin-right: 0;
	}
}
.footer3-widget3 {
	margin-left: -80px;
	margin-right: 50px;
	@media #{$lg} {
		margin-left: -40px;
		margin-right: 10px;
	}
	@media #{$md,$sm,$xs} {
		margin-left: 0;
		margin-right: 0;
	}
}
.footer3-widget4 {
	@media #{$lg} {
		margin-left: -10px;
	}
}

// footer-4 style
.footer-4-bg-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
	&:before {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1;
		// background-image: -moz-linear-gradient(
		// 	0deg,
		// 	rgba(11, 61, 44, 0.705) 0%,
		// 	rgb(11, 61, 44) 15%,
		// 	rgb(11, 61, 44) 85%,
		// 	rgba(11, 61, 44, 0.705) 100%
		// );
		// background-image: -webkit-linear-gradient(
		// 	0deg,
		// 	rgba(11, 61, 44, 0.705) 0%,
		// 	rgb(11, 61, 44) 15%,
		// 	rgb(11, 61, 44) 85%,
		// 	rgba(11, 61, 44, 0.705) 100%
		// );
		// background-image: -ms-linear-gradient(0deg,
		// 			rgba(11, 61, 44, 0.705) 0%,
		// 			rgb(11, 61, 44) 15%,
		// 			rgb(11, 61, 44) 85%,
		// 			rgba(11, 61, 44, 0.705) 100%);
		background-image: linear-gradient(90deg,rgba(11, 61, 44, 0.705) 0%,rgb(11, 61, 44) 15%,rgb(11, 61, 44) 85%,rgba(11, 61, 44, 0.705) 100%);
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.footer4-widget1 {
	text-align: center;
	.footer-logo {
		margin-bottom: 32px;
	}
	.border-btn {
		border-color: #305a4b;
		color: var(--clr-common-white);
		height: 60px;
		font-size: 20px;
		border-width: 2px;
		&:hover{
			border-color: var(--clr-theme-2);
			background: var(--clr-theme-2);
		}
	}
	.footer-social {
		justify-content: center;
		gap: 10px 25px;
		align-items: center;
		margin-top: 50px;
		@media #{$xxs} {
			flex-direction: column;
		}
	}
	.social-links ul li a {
		color: var(--clr-common-white);
		font-size: 16px;
		border: 2px solid #164d3a;
		height: 50px;
		width: 50px;
		display: inline-block;
		line-height: 46px;
		border-radius: 6px;
	}
	.social-links ul li a:hover {
		border-color: var(--clr-theme-2);
		background: var(--clr-theme-2);
	}
	.social-links ul {
		display: flex;
		gap: 10px;
	}
	.footer-social span {
		font-size: 16px;
	}
}
.footer4-widget p {
	font-size: 20px;
	color: #f8f5f0;
	line-height: 1.5;
	font-weight: 700;
	margin-bottom: 32px;
	text-transform: uppercase;
	@media #{$xxs} {
		font-size: 16px;
	}
}
.footer4-inner {
	position: relative;
}
.footer-4-plant-shape {
	position: relative;
	&:before {
		position: absolute;
		content: url("../../img/shape/plant-shape-4.png");
		top: 50%;
		left: 0;
		z-index: -1;
		transform-origin: bottom;
		margin-top: -131px;
		margin-left: 4%;
		animation: skew3deg 5s linear infinite;
		@media #{$md} {
			margin-left: -10%;
		}
		@media #{$sm,$xs} {
			margin-left: -30%;
		}
	}
	&:after {
		position: absolute;
		content: url("../../img/shape/plant-shape-4.png");
		top: 50%;
		right: 0;
		z-index: -1;
		transform-origin: bottom;
		margin-top: -131px;
		margin-right: 4%;
		animation: skew3deg 5s linear infinite 1s;
		@media #{$md} {
			margin-right: -10%;
		}
		@media #{$sm,$xs} {
			margin-right: -30%;
		}
	}
}
@keyframes skew3deg {
	0% {
		transform: skewX(0deg);
	}
	25% {
		transform: skewX(-3deg);
	}
	50% {
		transform: skewX(0deg);
	}
	75% {
		transform: skewX(3deg);
	}
	100% {
		transform: skewX(0deg);
	}
}


// footer-5 style
.footer-area5 {
	border-top: 1px solid var(--clr-theme-1);
}
.footer-area5-bg {
	background: var(--clr-common-white);
}
.footer5-widget1 {
	text-align: center;
max-width: 655px;
margin: 0 auto;
}
.footer5-widget p {
	color: var(--clr-theme-1);
	font-size: 18px;
}
.footer5-widget{
	.footer-logo {
	margin-bottom: 45px;
}
.footer-text {
	margin-bottom: 45px;
}
	.newsletter-input-wrapper {
		max-width: 570px;
		margin: 0 auto;
	}
	.newsletter-input-wrapper input {
		border-color: var(--clr-theme-1);
		border-radius: 6px;
	}
	.fill-btn-rounded {
		border-radius: 6px;
	}
}


// copyright5 style 
.copyright5-area {
	border-top: 1px solid var(--clr-theme-1);
	padding: 26px 0;
}
.copyright5-text {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--clr-theme-1);
	text-align: center;
	@media #{$md}{
		margin-top: 10px;
	}
	@media #{$xxs}{
		font-size: 14px;
	}
	a:hover {
		color: var(--clr-theme-2);
	}
}
.copyright5-inner{
	.footer-links {
		@media #{$lg,$xxs}{
			gap: 35px;
		}
	}
	.footer-social {
		justify-content: flex-end;
		margin-top: 0;
		@media #{$sm,$xs}{
			justify-content: center;
			margin: 10px 0;
		}
	}
	.social-links ul {
		gap: 23px;
	}
	.social-links ul li a {
		color: var(--clr-theme-1);
	&:hover {
		color: var(--clr-theme-2);
	}
}
}